In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
forbes_2018=pd.read_csv("forbes_2018.csv")

In [4]:
print(forbes_2018.head())

   position                         name      lastName   age        country  \
0       NaN                          NaN           NaN   NaN            NaN
1       NaN  Anant Asavabhokhin & family  Asavabhokhin  67.0       Thailand
2       NaN                          NaN           NaN   NaN            NaN
3       NaN               Arash Ferdowsi      Ferdowsi  32.0  United States
4       NaN                          NaN           NaN   NaN            NaN

  gender         wealthSource     industry  worth  worthChange  realTimeWorth  \
0    NaN                  NaN          NaN    NaN          NaN            NaN
1      M          real estate  Real Estate    NaN       -0.001            NaN
2    NaN                  NaN          NaN    NaN          NaN            NaN
3      M  online file storage   Technology    NaN        0.000            NaN
4    NaN                  NaN          NaN    NaN          NaN            NaN

   realTimePosition                                              image
0               NaN                                                NaN
1            1613.0  https://specials-images.forbesimg.com/imageser...
2               NaN                                                NaN
3            1734.0  https://specials-images.forbesimg.com/imageser...
4               NaN                                                NaN

In [7]:
print(forbes_2018_data.shape)

NameError: name 'forbes_2018_data' is not defined